body {
  background-color: #ffffff;
  color: #000000;
}

nav {
  background-color: #777777;
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 1.5em;
  line-height: normal;
  text-transform: capitalize;
}

h3 {
  font-size: .9em;
  font-style: italic;
  line-height: normal;
  margin-top: 2%;
}

figcaption {
  font-size: .7em;
  font-style: italic;
  line-height: normal;
  margin-top: 1%;
}

.author {
  font-size: .85em;
  font-weight: bold;
  margin-top: 1%;
}

.story-text {
  line-height: normal;
  margin-top: 1%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
